@using LMS.Domain.Entities.Users
@using Microsoft.AspNetCore.Identity
@using LMS.Service.DTOs.UserDTOs
@inject SignInManager<User> signInManager
@{
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
    var currentController = ViewContext.RouteData.Values["controller"].ToString();

    // List of actions where the sidebar and navbar should be hidden
    var actionsToHideLayout = new List<string> { "Register", "LogIn" };

    var showSidebar = ViewBag.ShowSidebar ?? false; // Default to true if not set
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - Online Learning Management</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <script src="~/lib/jquery/dist/jquery.js"></script>

    <!-- Vendor CSS Files -->
    <link href="~/lib/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/lib/assets/css/style.css" rel="stylesheet">

    <style>
        .custom-footer {
            color: dodgerblue; /* Ensure text is readable */
        }

    </style>

</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center">
    
                <img src="~/photo/Screenshot (51).png" style="width: 150px; height: 60px;" alt="">
            </a>
            @if (User.IsInRole("Admin") || showSidebar == true)
            {
                <i class="bi bi-list toggle-sidebar-btn"></i>
            }
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">



                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item dropdown pe-3">

                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <span class="d-none d-md-block dropdown-toggle ps-2">
                                @User.Identity.Name
                            </span>
                        </a><!-- End Profile Iamge Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

                            <li>
                                @if (User.IsInRole("Student"))
                                {
                                    <a class="dropdown-item d-flex align-items-center" asp-controller="Student" asp-action="Dashboard">
                                        <i class="bi bi-grid"></i>
                                        <span>
                                            Dashboard
                                        </span>
                                        @* <a class="dropdown-item" asp-controller="Instructors" asp-action="Profile">Profile Details</a> *@
                                    </a>
                                }
                                else if (User.IsInRole("Instructor"))
                                {
                                    <a class="dropdown-item d-flex align-items-center" asp-controller="Instructors" asp-action="Dashboard">
                                        <i class="bi bi-grid"></i>
                                        <span>
                                            Dashboard
                                        </span>
                                        @* <a class="dropdown-item" asp-controller="Instructors" asp-action="Profile">Profile Details</a> *@
                                    </a>
                                }
                                else
                                {
                                        <a class="dropdown-item d-flex align-items-center" asp-controller="Admin" asp-action="Dashboard">
                                        <i class="bi bi-grid"></i>
                                        <span>
                                            Dashboard
                                        </span>
                                        @* <a class="dropdown-item" asp-controller="Instructors" asp-action="Profile">Profile Details</a> *@
                                        </a>
                                }
                            </li>

                            @if (!User.IsInRole("Admin"))
                            {
                                <li>
                                    @if (User.IsInRole("Student"))
                                    {
                                        <a class="dropdown-item d-flex align-items-center" asp-controller="Student" asp-action="Profile">
                                            <i class="bi bi-person"></i>
                                            <span>
                                                My Profile
                                            </span>
                                            @* <a class="dropdown-item" asp-controller="Instructors" asp-action="Profile">Profile Details</a> *@
                                        </a>
                                    }
                                    else if (User.IsInRole("Instructor"))
                                    {
                                        <a class="dropdown-item d-flex align-items-center" asp-controller="Instructors" asp-action="Profile">
                                            <i class="bi bi-person"></i>
                                            <span>
                                                My Profile
                                            </span>
                                            @* <a class="dropdown-item" asp-controller="Instructors" asp-action="Profile">Profile Details</a> *@
                                        </a>
                                    }
                                </li>
                            }
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                @if (User.IsInRole("Student"))
                                {
                                    <a class="dropdown-item d-flex align-items-center" asp-controller="Student" asp-action="Logout">
                                        <i class="bi bi-box-arrow-right"></i>
                                        <span>Sign Out</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="dropdown-item d-flex align-items-center" asp-controller="Instructors" asp-action="Logout">
                                        <i class="bi bi-box-arrow-right"></i>
                                        <span>Sign Out</span>
                                    </a>
                                }
                            </li>



                        </ul><!-- End Profile Dropdown Items -->

                    </li>

                    <!-- End Profile Nav -->
                }
                else
                {

                }
            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    @if (User.IsInRole("Admin") || showSidebar == true)
    {
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Admin" asp-action="Dashboard">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Admin" asp-action="Students">
                        <i class="bi bi-people"></i>
                        <span>Student</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Admin" asp-action="Instructors">
                        <i class="bi bi-person-lines-fill"></i>
                        <span>Instructor</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Admin" asp-action="Courses">
                        <i class="bi bi-clipboard-data"></i>
                        <span>Course</span>
                    </a>
                </li>

            </ul>

        </aside>

        <!-- End Sidebar-->
    }

    @if (User.IsInRole("Admin") || showSidebar == true)
    {
        <main id="main" class="main">

            @RenderBody()

        </main>
    }
    else
    {
        <main class="main" style="margin-top: 100px;">

            @RenderBody()

        </main>
    }
    <!-- ======= Footer ======= -->
    <footer class="custom-footer text-center py-3 mt-auto border-top ">
        <div class="container py-0">
            Copyrights © 2024, TPS All Rights Reserved
        </div>
    </footer>


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/lib/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/lib/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/lib/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/lib/assets/vendor/quill/quill.js"></script>
    <script src="~/lib/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/lib/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/lib/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/lib/assets/js/main.js"></script>

</body>

</html>