@{
    ViewData["Title"] = "Home Page";
    ViewBag.showSidebar = false;
}

<div class="text-center">
    <h1>LMS</h1>
    <div class="container card p-4">
        <h3>E-learning systems have revolutionized education by providing flexible and accessible learning opportunities to individuals worldwide. These platforms offer a comprehensive range of courses and resources that cater to diverse learning styles, enabling users to learn at their own pace, anytime and anywhere. Through interactive features, such as video tutorials, quizzes, and discussion forums, e-learning systems create an engaging and collaborative environment that enhances the learning experience. Whether you're looking to upskill, pursue a new interest, or complete formal education, e-learning systems offer the tools and support needed to achieve your goals efficiently and effectively.</h3>
    </div>
</div>
