
<section class="section dashboard">
    <div class="container">
        <div class="row">
            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item">Add Course</a></li>
                            <li><a asp-controller="Instructors" asp-action="GetAllCourses" class="dropdown-item">View Course</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">My Course</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-journal"></i>
                            </div>
                            <div class="ps-3">
                                <p>Number of courses</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Repeat the card for more columns -->
            <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item">Add Course</a></li>
                            <li><a class="dropdown-item">View Course</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Enrollement</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-journal"></i>
                            </div>
                            <div class="ps-3">
                                <p>My Enrollement</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add more cards as needed -->
        </div>
    </div>
</section>