@using LMS.Service.DTOs.UserDTOs
@model RegisterDto
@* instrucor
 *@<main>
    <div class="container" style="margin-top: -50px">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a asp-controller="Home" asp-action="index" class="logo d-flex align-items-center w-auto">
                                <img src="~/photo/Screenshot (51).png" alt="" style="width: 200px;" />

                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Instructors Account</h5>
                                    <p class="text-center small">Enter your personal details to create account</p>
                                </div>

                                <form class="row g-3 needs-validation" novalidate asp-controller="Instructors" asp-action="Register" method="post">
                                    <div class="col-12">
                                        <label for="Name" class="form-label">User Name</label>
                                        <input type="text" name="Name" class="form-control" id="Name" required>
                                        <div class="invalid-feedback">Please, enter your Name!</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="Email" class="form-label">Email</label>
                                        <input type="text" name="Email" class="form-control" id="Email" required>
                                        <div class="invalid-feedback">Please enter a valid Email adddress!</div>

                                    </div>

                                    <div class="col-12">
                                        <label for="Password" class="form-label">Password</label>
                                        <input type="password" name="Password" class="form-control" id="Password" required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <label for="ConfirmPassword" class="form-label">ConfirmPassword</label>
                                        <input type="Password" name="ConfirmPassword" class="form-control" id="ConfirmPassword" required>
                                        <div class="invalid-feedback">Not Match Whith Password!</div>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                                            <div class="invalid-feedback">You must agree before submitting.</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Already have an account?  <a asp-controller="Instructors" asp-action="LogIn">Log in</a></p>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->