/* Styling search inputs and buttons */
#searchTitle, #searchInstructor, #searchPrice {
    margin-bottom: 10px;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#btnSearch, #btnReset {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

    #btnSearch:hover, #btnReset:hover {
        background-color: #0056b3;
        color: white;
    }

#searchPrice {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Styling for course card */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Styling alert boxes */
.alert {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 90%;
    max-width: 600px;
}

.course-section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    position: relative;
    padding-left: 35px; /* Space for the icon */
    display: inline-block;
    transition: all 0.3s ease;
}

.course-section-title:hover {
    transform: translateX(10px);
}

/* Active */
.active-title {
    color: #28a745;
    border-left: 5px solid #28a745;
}

    .active-title:hover {
        color: #ffffff;
        background-color: #28a745;
        transform: scale(1.1);
    }

    .active-title i {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.8rem;
    }

.modal-backdrop.show {
    opacity: 0.3; /* Adjust the opacity as desired */
    background-color: rgba(0, 0, 0, 0.5); /* Customize the color and transparency */
}
.course-card {
    margin-top: 25px;
}
/* Responsive grid layout for course cards */
@media (max-width: 768px) {
    .col-lg-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
