<div class="container">
    <div class="row">
        <!-- First Row of Cards -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm border-0 rounded">
                <img src="~/photo/feras.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name of Course</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Date: 25/8/2024</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary">Enrollment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm border-0 rounded">
                <img src="~/photo/feras.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name of Course</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Date: 25/8/2024</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary">Enrollment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm border-0 rounded">
                <img src="~/photo/feras.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name of Course</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Date: 25/8/2024</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary">Enrollment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Second Row of Cards -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm border-0 rounded">
                <img src="~/photo/feras.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name of Course</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Date: 25/8/2024</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary">Enrollment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm border-0 rounded">
                <img src="~/photo/feras.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name of Course</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Date: 25/8/2024</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary">Enrollment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm border-0 rounded">
                <img src="~/photo/feras.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name of Course</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Date: 25/8/2024</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary">Enrollment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
